In [1]:
import pandas as pd
from sklearn.datasets import load_iris
df=load_iris()

In [2]:
df1=pd.DataFrame(df.data, columns=df.feature_names)
df1.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [3]:
df1['target']=df.target

In [4]:
df1.to_csv("iris.csv", index='false')

In [5]:
df1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [6]:
inputs = df1.drop('target', axis = 'columns')
target=df1['target']

In [7]:
from sklearn.svm import SVC
model = SVC()

In [8]:
model.fit(inputs, target)

SVC()

In [9]:
model.predict([[5.9,3,5.1,1.8]])

c:\users\yogesh\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([2])

In [10]:
from sklearn.model_selection import train_test_split
inputs_train, inputs_test, target_train, target_test = train_test_split(inputs,target,train_size=0.5)

In [11]:
model.fit(inputs_train, target_train)

SVC()

In [12]:
model.predict(inputs_test)

array([1, 2, 2, 1, 1, 1, 2, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       2, 0, 0, 0, 1, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 1, 1, 0, 2, 2, 1,
       2, 0, 1, 1, 2, 1, 2, 2, 0, 0, 2, 2, 2, 2, 2, 1, 1, 1, 1, 0, 0, 0,
       2, 1, 1, 1, 2, 2, 2, 2, 0])

In [13]:
target_test

64     1
133    2
72     1
79     1
59     1
      ..
139    2
144    2
134    2
124    2
32     0
Name: target, Length: 75, dtype: int32

In [14]:
model.score(inputs_test,target_test)

0.96